<div class="container mt-5">
    <div class="row">
      <div class="col-4" *ngFor="let movieT of moviesTopRated; let x = index">
        <div class="card mb-4">
          <img [src]="'https://image.tmdb.org/t/p/w780' + movieT.poster_path" class="col-3 card-img-top img-fluid">
          <span class="position-absolute top-0 start-100 translate-middle d-inline-block rounded-circle bg-success text-white p-1">
            {{ (movieT.vote_average * 10).toFixed(2) }}
            <span class="visually-hidden">unread messages</span>
          </span>
          <div class="card-body">
            <h5 class="card-title">{{ movieT.title }}</h5>
            <p class="card-text">{{ movieT.overview.slice(0, 200) + "..." }}</p>
            <a routerLink="/detalles">Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>